.title-small {
    color: #ffffff;
    font-weight: bold;
    line-height: 51px;
    font-size: 18px;
  
  }
  .cgwwa-title {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    line-height: 51px;
  
  }
  .cgwwa-slash {
      font-size: 30px;
      color: #ffffff;
  
    }
    .hamburger, .hamburger:after, .hamburger:before {
      background: #ffffff;
      border-radius: 1px;
      content: "";
      cursor: pointer;
      display: block;
      height: 3px;
      transition: background .1s ease-in-out,color .1s ease-in-out;
      width: 24px;
  }
  .align-self-center {
    align-self: center!important;
  }
  .hamburger:before {
    position: absolute;
    top: 28px;
    width: 20px;
  }
  .hamburger:after {
    bottom: 27px;
    position: absolute;
    width: 16px;
  }