                <!-- Begin Page Content -->
                <div class="container-fluid">

                  <!-- Content Row -->
                  <div class="row">
                  <div class="col-xl-12 col-md-12 mb-4">
                  <!-- DataTales Example -->
                  <div id="contentForPdf" #contentForPdf>
                    <div class="wrapper"  >
                      <h2
                        style="
                          text-align: center;
                          color: #737576;
                          font-weight: bold;
                          font-family: Arial, Helvetica, sans-serif;
                          font-size: 40px;
                        "
                      >
                        METAPHOR INFRASTRUCTURE PVT. LTD.
                      </h2>
                      <h3 class="dcf-txt-center">INVOICE</h3>
                      <table
                        class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%"
                      >
                        <tbody>
                          <tr class="bdr">
                            <td colspan="2">
                              <b>METAPHOR INFRASTRUCTURE PVT. LTD.</b> <br />A-64, SECTOR-61,
                              NOIDA - 201301 (UP).
                            </td>
                            <td colspan="2">
                              Invoice No. : <b>GST/23-24/0016</b> <br />Invoice Date :
                              <b>5-Jun-23</b>
                            </td>
                          </tr>
                          <tr class="bdr">
                            <td class="bdright">
                              <b>GSTIN : 09AAFCM3232N2Z7</b> <br />Mobile No.: 9811411447
                            </td>
                            <td>
                              <b>CIN No.: U45200DL2007PTC169600</b> <br />Email: metaphornoida@
                              gmail.com
                            </td>
                            <td colspan="2">
                              WO/PO No. : <b>ADMIN23-24/065</b> <br />WO/PO Date :
                              <b>25-May-23</b>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              Buyer's Name & Address:
                              <br />
                              <b>Honda Cars India Limited </b>
                              <br />
                              Plot No. A-1/2, Sec-40/41, Surajpur Kasna Road, Greater Noida,
                              <br />
                              <b>GSTIN: 09AAACH1765Q1Z2</b>
                            </td>
                            <td colspan="2">
                              Delivery Name & Address:
                              <br />
                              <b>Honda Cars India Limited </b>
                              <br />
                              Plot No. A-1/2, Sec-40/41, Surajpur Kasna Road, Greater Noida,
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%"
                      >
                        <thead>
                          <tr>
                            <th>S.No.</th>
                            <th>Description of Item HSN</th>
                            <th>HSN Code</th>
                            <th>Unit</th>
                            <th>Qty.</th>
                            <th>Rate</th>
                            <th>IGST</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="bdr">
                            <td>1</td>
                            <td>Supply of unskilled</td>
                            <td>995419</td>
                            <td>Job</td>
                            <td>1.00</td>
                            <td>13806.00</td>
                            <td>0.00</td>
                            <td>1242.54</td>
                            <td>1242.54</td>
                            <td>16291.08</td>
                          </tr>
                          <tr class="bdr">
                            <td>2</td>
                            <td>Supply of unskilled</td>
                            <td>995419</td>
                            <td>Job</td>
                            <td>1.00</td>
                            <td>13806.00</td>
                            <td>0.00</td>
                            <td>1242.54</td>
                            <td>1242.54</td>
                            <td>16291.08</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>Supply of unskilled</td>
                            <td>995419</td>
                            <td>Job</td>
                            <td>1.00</td>
                            <td>13806.00</td>
                            <td>0.00</td>
                            <td>1242.54</td>
                            <td>1242.54</td>
                            <td>16291.08</td>
                          </tr>
                
                          <tr>
                            <td colspan="5" rowspan="4">
                              Amount in words<br />
                              <b>Sixteen Thousand Two Hundred Ninty One Rupees </b>
                            </td>
                            <td colspan="1"><b>Total</b></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                          </tr>
                          <tr>
                            <td colspan="1"><b>GST Amount</b></td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                          </tr>
                          <tr>
                            <td colspan="3"></td>
                            <td colspan="3"></td>
                          </tr>
                          <tr>
                            <td colspan="2"><b>Invoice Amount</b></td>
                            <td colspan="3">0.00</td>
                          </tr>
                        </tbody>
                      </table>
                      <table
                        class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%"
                      >
                        <tbody>
                          <tr class="bdr">
                            <td colspan="2" class="bdright">EPF Reg. No.- MRNOI0054349000</td>
                            <td colspan="2"><b>For Metaphor Infrastructure Pvt. Ltd. </b></td>
                          </tr>
                          <tr class="bdr">
                            <td colspan="2" class="bdright">EPF Reg. No.- MRNOI0054349000</td>
                            <td colspan="2"></td>
                          </tr>
                          <tr class="bdr">
                            <td class="bdright" colspan="2"></td>
                            <td colspan="2"></td>
                          </tr>
                          <tr class="bdr">
                            <td class="bdright" colspan="2"></td>
                            <td colspan="2"></td>
                          </tr>
                          <tr class="bdr">
                            <td class="bdright" colspan="2"></td>
                            <td colspan="2"></td>
                          </tr>
                          <tr>
                            <td colspan="2" class="bdright"></td>
                            <td colspan="2"><b>Signature of Authorised Signatory</b></td>
                          </tr>
                        </tbody>
                      </table>
                
                      <!-- </body>
                </html> -->
                    </div>
                    </div>
                    <div>
                      <button (click)="makePdf()">click</button>
                    </div>
                  </div>

                  </div>
                  <!-- End Content Row -->

              </div>
              <!-- /.container-fluid -->
    
    
    
    
    
    
    
    
   

