/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.app-sidebar{
    background-color: #029cff;
  }
  .c-w{
      color:#ffffff;
  }
  .ng-dropdown-panel {
      padding-top: 8px;
      padding-bottom: 8px;
      background: #ffffff;
      border: 1px solid #e6e6e6;
    }
    form.user .btn-user{
      font-size: 1rem !important;
    }
  
    td{
      font-size:12px !important;
      max-width: 200px;
    }
    .text-theme{
      color: #6B0330 !important;
  
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
